music-header

.login
    section
        form(ng-click="$ctrl.facebookLogin()")
            a.btn-facebook LOG IN WITH FACEBOOK

    p Or..

    section
        form
            input(type='text',
            name='user name'
            placeholder="user name",
            data-ng-model="$ctrl.data.userName",
            )
            input(type='password',
            name='password',
            placeholder="Password",
            data-ng-model="$ctrl.data.password",
            required)
            .submit
                input(ng-click="$ctrl.submitLogin()", value="LOGIN")